---
import NavbarMenuLogo from './../../assets/icons/menu.svg';
---

<nav class="navbar">
  <h1 class="navbar-title">Flat For Sale</h1>
  <ul class="navbar-list">
    <li class="nav-list-link"><a href="#">Home</a></li>
    <li class="nav-list-link"><a href="#">Details</a></li>
    <li class="nav-list-link"><a href="#">Images</a></li>
    <li class="nav-list-link"><a href="#">Features</a></li>
    <li class="nav-list-link"><a href="#">Why Should U Buy ?</a></li>
    <li class="nav-list-link"><a href="#">Contact</a></li>
  </ul>
  <button class="navbar-toggle-button">
	<img class="navbar-toggle-button-image" src={NavbarMenuLogo} alt="Navbar Menu Button Logo">
  </button>
</nav>

<style scoped lang="scss">
	.navbar-toggle-button {
		background: none;
		outline: none;
		border: 1px solid var(--accent-color);
		position: absolute;
		right: 20px;
		top: 10px;
    display: none;
		border-radius: 5px;
    cursor: pointer;
		&-image {
			max-width: 30px;
			max-height: 30px;
			object-fit: cover;
		}
	}
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .navbar-list {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-title {
    width: 200px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color: white;
  }
  li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: "montserrat";
    position: relative;
    transition: transform, 200ms ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: transform, 200ms ease-in-out;
    }
    &::after {
      transition: transform, 200ms ease-in;
      transform: scaleX(0px);
    }
    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: 0;
      background-color: var(--accent-color);
      transform: scaleX(5px);
      transform-origin: left;
      border-radius: 20px;
      transition: transform, 200ms ease-in;
      left: 0;
    }
  }
  @media (max-width: 800px) {
    .navbar {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
    .navbar-list {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      top: 10px;
    }
    .navbar-toggle-button {
      display: block;
    }
  }
</style>
