---
const { title, content, icon, iconAlt } = Astro.props;
---

<div class="wsub">
  <section class="wsub-header">
    <img class="wsub-logo" src={icon} alt={iconAlt} loading="lazy" />
    <h3 class="wsub-title">{title}</h3>
  </section>
  <section class="wsub-body">
    <p class="wsub-content">{content}</p>
  </section>
</div>

<style lang="scss" scoped>
  .wsub {
    padding: 5px;
    background-color: var(--default-bg-color);
    color: var(--default-fg-color);
    border-radius: 5px;
    min-height: 150px;
    &-header {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 5px;
      grid-template-columns: 20px 1fr;

      .wsub-logo {
        width: 20px;
        height: 20px;
      }
      .wsub-title {
        font-family: "Open Sans";
      }
    }
    &-body {
      margin-top: 10px;
      .wsub-content {
        font-family: "Montserrat";
        font-size: 14px;
      }
    }
  }
</style>
