---
import WhatsappLogo from "./../assets/icons/whatsapp.svg";
import PhoneLogo from "./../assets/icons/phone.svg";
import EmailLogo from "./../assets/icons/email.svg";
const data = [
  { title: "Phone No.", content: "8585031473 / 9734106767", icon: PhoneLogo },
  { title: "Whatsapp No.", content: "8585031473", icon: WhatsappLogo },
  { title: "Email", content: "ichatterjee774@gmail.com", icon: EmailLogo },
];
---

<div class="contact">
  <h3 class="header-section">Contact us</h3>
  <section class="contact-body">
    {
      data.map((entry) => (
        <div class="contact-content">
          <img
            class="contact-content-icon"
            src={entry.icon}
            alt="Contact Icons"
          />
          <p class="contact-content-text">
            {entry.title} : {entry.content}
          </p>
        </div>
      ))
    }
  </section>
</div>
<style lang="scss" scoped>
  .contact {
    
    margin: 10px;
    
  }
  .contact-body {
    background-color: var(--default-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-center;
  }
  .contact-content {
    
    padding: 10px;
    display: grid;
    grid-template-columns: 16px 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--default-fg-color);
    
    &-icon {
      max-width: 16px;
      max-height: 16px;
    }
    &-text {
      color: inherit;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.25px;
      font-family: "Open Sans";
    }
  }
</style>
