---
import Map from './../assets/papers/map.jpg'
const detailData = [
  { title: "Apartment Name", content: "Hoichoi Abasan" },
  { title: "No. of Floor", content: "G + 5" },
  { title: "Flat location", content: "G + 3" },
  { title: "Super Buildup Area", content: "1000sqft" },
  { title: "Flat Type", content: "3BHK" },
  { title: "No. of Kitchen", content: "1" },
  { title: "No. of Toilet", content: "2" },
  { title: "No. of Balcony", content: "1" },
  { title: "Furnish", content: "Semi-Furnished" },
  { title: "Ready to Move", content: "Yes" },
  { title: "Freehold", content: "Yes" },
];
---

<div id="detail">
  <h2 class="header-section">Details</h2>
  <div class="detail-container">
    <section class="detail-map-section">
      <a href="https://www.google.com/maps/place/B+14,+Block+B,+Kalyani,+West+Bengal+741235/@22.9674672,88.4335186,71m/data=!3m1!1e3!4m6!3m5!1s0x39f894e65ad28add:0xd7f0101f1a64cb31!8m2!3d22.9652154!4d88.4343306!16s%2Fg%2F11_tlfv8l" target="_blank" class="detail-map">
        <img src={Map} alt="Map Image" class="cont" loading="lazy" />
        CLICK TO SEE LOCATION
      </a>
    </section>
    <section class="detail-content-section">
      {
        detailData.map((data) => (
          <p class="detail-content-info">
            {data.title} : {data.content}
          </p>
        ))
      }
    </section>
  </div>
</div>

<style lang="scss">
  .detail-container {
    background-color: var(--default-bg-color);
    padding: 10px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .detail-content-info {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.25px;
    font-family: "Open Sans";
    padding: 2.5px 0;
    color: var(--default-fg-color);
  }
  .detail-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--default-fg-color);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }
  .cont {
    max-height: 250px;
    max-width: 250px;
    border-radius: 5px;
    object-fit:cover;
  }
  @media (max-width: 600px) {
    .detail-container {
        flex-direction: column;
    }
  }
</style>
