---
import Layout from '../layouts/Layout.astro';
import Navbar from './shared/Navbar.astro';
//import Video from 'https://download.pexels.com/vimeo/815840054/pexels-indranil-chatterjee-16281130.mp4';
---

<Layout title="Flat For Sale | Home">
	<div class="home-container" id="home">
        <Navbar />
        <h2 class="home-title">Presenting You the best flat in Kalyani, Nadia</h2>
        <video controls class="video-tour" autoplay>
            <source src="https://flatsite.b-cdn.net/tour.mp4" type="video/mp4">
        </video>
    </div>
</Layout>

<style lang="scss">
    .home-container {
        height: 100vh;
        background-image: url('./../assets/images/flat-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            z-index: -1;
        }
    }
    .home-title {
        font-weight: bolder;
        font-size: 36px;
        color:white;
        padding-top: 150px;
        padding-left: 10px;
        max-width: 350px;
        font-family: "Roboto Slab";
        z-index: 2;
    }
    .video-tour {
        margin-top: 50px;
        border: 2px solid yellow;
        width: 280px;
        border-radius: 10px;
    }
    @media (max-width: 800px) {
        .home-title {
            padding-top: 350px;
        }
    }
    @media (max-width: 600px) {
        .home-container {
            flex-direction: column-reverse;
            justify-content: center;
        }
        .video-tour {
            margin-top: 100px;
            width: 225px;
        }
        .home-title {
            padding: 0;
        }
    }
    @media (max-width: 400px) {
        .home-title {
            font-size: 28px;
            text-align: center;
        }
    }
</style>