---
import Layout from '../layouts/Layout.astro';
import BgImg from './../assets/images/flat-8.jpg';
---

<Layout title="Flat For Sale | Home">
	<div class="home-container">
        <h2 class="home-title">Presenting You the best flat in Kalyani, Nadia</h2>
    </div>
</Layout>

<style lang="scss">
    .home-container {
        height: 100vh;
        background-image: url('./../assets/images/flat-8.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>