---
import Layout from '../layouts/Layout.astro';
import Navbar from './shared/Navbar.astro';
import BgImg from './../assets/images/flat-1.jpg';
---

<Layout title="Flat For Sale | Home">
	<div class="home-container" id="home">
        <Navbar />
        <h2 class="home-title">Presenting You the best flat in Kalyani, Nadia</h2>
    </div>
</Layout>

<style lang="scss">
    .home-container {
        height: 100vh;
        background-image: url('./../assets/images/flat-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        z-index: 2;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            z-index: -1;
        }
    }
    .home-title {
        font-weight: bolder;
        font-size: 36px;
        color:white;
        padding-top: 150px;
        padding-left: 10px;
        max-width: 350px;
        font-family: "Roboto Slab";
        z-index: 2;
    }
    @media (max-width: 800px) {
        .home-title {
            padding-top: 350px;
        }
    }
    @media (max-width: 400px) {
        .home-title {
            font-size: 28px;
            text-align: center;
        }
    }
</style>